/* LAYOUT */
body {
  text-align: left;
}
.site-header {
  padding: 1em;
  text-align: center;
}
.site-header h1 a {
  display: block;
  text-indent: -10000px;
  overflow: hidden;
  width: 100%;
  height: 120px;
  background-image: url('../images/chaplin.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
.sidebar nav {
  padding: 1em;
}
.sidebar ul {
  line-height: 1.25;
}
#content {
  padding: 56px 0 0;
}
.module-info a {
  font-size: 14px;
  vertical-align: middle;
}
/* LANGUAGE SWITCHER */
form.language {
  text-align: left;
}
form.language legend {
  margin: 0;
  line-height: 160%;
  border: none;
  font-size: 100%;
}
form.language ul {
  list-style-type: none;
  list-style-image: none;
  padding: 0;
}
form.language ul:after {
  content: ".";
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  clear: both;
}
form.language li {
  display: block;
  position: relative;
  float: left;
  width: 50%;
  height: 32px;
  padding: 0;
  margin: 0;
  background: white;
  background-color: rgba(255,255,255,0.75);
  background-repeat: no-repeat;
  background-position: top right;
  cursor: pointer;
  color: #BBB;
}
form.language li:active {
  top: 1px;
  left: 1px;
}
form.language li.coffeescript {
  width: 49%;
  margin-right: 1%;
}
form.language .active {
  color: #666;
}
form.language .active:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  right: 50%;
  margin-left: -2px;
  top: 100%;
  border: 5px solid transparent;
  border-bottom-color: #666;
}
form.language input {
  display: none;
}
form.language label {
  line-height: 32px;
  text-indent: 5%;
  cursor: pointer;
}
form.language .coffeescript {
  background-image: url('../images/coffeescript.png');
}
form.language .javascript {
  background-image: url('../images/javascript.png');
}
/* INLINE CODE */
.show-coffeescript span.coffeescript {
  display: inline;
}
.show-coffeescript span.javascript {
  display: none;
}
.show-javascript span.coffeescript {
  display: none;
}
.show-javascript span.javascript {
  display: inline;
}
/* Device Dependent */
@media (min-width: 768px) { /* Desktop */
  .sidebar {
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  #content {
    margin-left: 25.64%;
  }
  .module-info {
    position: fixed;
    top: 0;
    padding: 7px 0;
    width: 100%;
    background-color: #F5F1E8;
    background: -moz-linear-gradient(top, rgba(245,241,232,1) 0%, rgba(245,241,232,1) 6%, rgba(245,241,232,1) 75%, rgba(245,241,232,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,241,232,1)), color-stop(6%,rgba(245,241,232,1)), color-stop(75%,rgba(245,241,232,1)), color-stop(100%,rgba(245,241,232,0)));
    background: -webkit-linear-gradient(top, rgba(245,241,232,1) 0%,rgba(245,241,232,1) 6%,rgba(245,241,232,1) 75%,rgba(245,241,232,0) 100%);
    background: -o-linear-gradient(top, rgba(245,241,232,1) 0%,rgba(245,241,232,1) 6%,rgba(245,241,232,1) 75%,rgba(245,241,232,0) 100%);
    background: -ms-linear-gradient(top, rgba(245,241,232,1) 0%,rgba(245,241,232,1) 6%,rgba(245,241,232,1) 75%,rgba(245,241,232,0) 100%);
    background: linear-gradient(to bottom, rgba(245,241,232,1) 0%,rgba(245,241,232,1) 6%,rgba(245,241,232,1) 75%,rgba(245,241,232,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f1e8', endColorstr='#00f5f1e8',GradientType=0 );
  }
}
