---
source_base: https://github.com/chaplinjs/chaplin/blob/
version: 1.0.0
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
  <title>
    {% if page.title %} {{ page.title }} &middot; {% endif %} Chaplin Documentation
  </title>
  <link rel="stylesheet" href="http://chaplinjs.org/stylesheets/normalize.css">
  <link rel="stylesheet" href="http://chaplinjs.org/stylesheets/base.css">
  <link rel="stylesheet" href="http://chaplinjs.org/stylesheets/application.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/pygments.css">
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="javascripts/main.js"></script>
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body class="container-fluid">
  <div class="wrapper">

  <nav class="span3 sidebar">

    <form action="" class="language">
      <fieldset>
        <legend>Examples in:</legend>
        <ul class="languages">
        <li class="coffeescript">
          <label>
            <input type="radio" name="language" value="coffeescript" checked> CoffeeScript
          </label>
        </li>
        <li class="javascript">
          <label>
            <input type="radio" name="language" value="javascript"> JavaScript
          </label>
        </li>
        </ul>
      </fieldset>
    </form>
    <h2>
      Modules
      <button class="toggle-navigation">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </h2>
    {% capture sidebar %}{% include modules.md %}{% endcapture %}
    <div class="navigation">
      {{ sidebar | markdownify }}
    </div>
  </nav>
  <section id="content" class="span9">

    <header class="nav-header">
      <div class="list-wrapper">
        <ul class="page-nav">
          <li class="logo-text">
            <div class="logo"><img class="logoa" width="30" src="http://chaplinjs.org/images/chaplin-hat.png" alt=""></div>
            <span class="logo-text-entity">Chaplin</span>
            <button class="toggle-navigation">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </li>
          <li class="nav-toggle-content"><a href="http://chaplinjs.org" data-pattern="\/\/chaplinjs\.org/(#.*)?$">About</a></li>
          <li class="nav-toggle-content"><a class="active" href="http://docs.chaplinjs.org" data-pattern="docs\.chaplinjs">Documentation</a></li>
          <li class="nav-toggle-content"><a href="http://chaplinjs.org/examples.html" data-pattern="examples\.html$">Examples</a></li>
          <li class="nav-toggle-content"><a href="http://chaplinjs.org/support.html" data-pattern="support\.html$">Support</a></li>
        </ul>
      </div>
    </header>


    <main class="actual-content">
      <header class="module-info">
      {% if page.title %}
      <h1>
        {{ page.title }}
        {% if page.module_path %}
          <a href="{{ page.source_base }}{{ page.version }}/{{ page.module_path }}">&rarr; Source</a>
        {% endif %}
      </h1>
      {% endif %}
      </header>
      {{ content }}
    </main>
  </section>
  </div>
</body>
</html>
